# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
*.tgz
*.zip
*.tar.gz

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log